{{define "footer"}}
  <div class="footer">
    <p>&copy;2019 created by <a href="https://fairwinds.com?source=polaris"  target="_blank"> FairwindsOps Inc.</a> </p>
    <p>&copy;2019 extended by <a href="https:/www.deepnetwork.com/"  target="_blank"> Deep Network GmbH</a> </p>
  </div>
{{end}}
