<!doctype html>
<html>

<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="static/css/scan-details.css">
</head>

<body>
<div class="navbar">
  <div class="navbar-content">
    <a href="/">
      <img class="logo" src="static/images/polaris-logo.png" alt="Polaris" />
    </a>
  </div>
</div>

<div class="main-content">
  <div class="card details">
    <span> {{ .ImageTag }} </span>
    <p> {{ .ScanResult }} </p>

    {{ if (eq .ScanResult "Failed") }}
{{/*      <h3> Image vulnerabilities scan failed</h3>*/}}
      <span> {{ .Description }} </span>
    {{ end }}

    {{ if (eq .ScanResult "NotFound") }}
{{/*      <h3> No Image vulnerabilities scan data</h3>*/}}
      <span>Image scanner might not support image OS or container registry</span>
    {{ end }}

    {{ if (eq .ScanResult "Succeeded") }}

      {{ range $target := .ScanTargets }}

        <div class="card">
          <span>{{ $target.Name }}</span>

          {{ range $target.VulnerabilitiesGroups }}
            <div class="expandable-table">

              <div class="name">
                <span class="caret-expander"></span>
                <span> {{ .Count }} issues with <strong> {{ .Severity }} </strong> severity </span>
              </div>

              <div class="expandable-content">
                {{ range .CVEs }}
                  <p> <i>{{ .Id }}</i> in <strong>{{ .PackageName }}</strong> version {{ .InstalledVersion }}</p>
                  <p> <strong>Title:</strong> {{ .Title }} </p>
                  <p> <strong>Remediation:</strong> Update package to {{ .FixedVersion }} </p>
                  <p> {{ .Description }} </p>
                  <ul>
                    {{ range .References }}
                      <li> <a href=">{{ . }}">{{ . }}</a> </li>
                    {{ end }}
                  </ul>
                {{ end }}
              </div>

            </div>
          {{ end }}

        </div>

      {{ end }}

    {{ end }}
  </div>
</div>
</body>
</html>
